<div *ngIf="restaurant">
    <h2>{{restaurant.name | uppercase}} Details</h2>
    <div>
      <label for="restaurant-name">Restaurant name: </label> 
        <div id="restaurant-name">{{restaurant.name}}</div>
    </div>
    <div>
        <label for="restaurant-rank">rank: </label> 
        <div id="restaurant-rank">{{restaurant.rank}}</div>
    </div>
    <button id="deleteBtn" type="button" (click)="delete()">Delete Restaurant
        <a routerLink ="/restaurants"></a>
    </button>

    <button id="goBackBtn" type="button" (click)="goBack()">go back</button>
</div> 